<%- include('../../partials/header') %>
    
<div class="row g-5">
  <div class="col-md-6">
    <h2>Tabuada for number <% num %></h2>
    
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        <% multiplyTable.map(item => { %>
          <tr>
            <td><%= item.num %></td>
            <td>&nbsp; x &nbsp;</td>
            <td><%= item.i %></td>
            <td>&nbsp; = &nbsp;</td>
            <td><%= item.result %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>

<%- include('../../partials/footer') %>
